.footer-bg {
    background-image: url('https://res-console.cloudinary.com/dx23woi99/thumbnails/v1/image/upload/v1712787153/Zm9vdGVyX2VzNW95OQ==/grid_landscape');
    background-repeat: no-repeat;
    background-size: cover;
}