.footer-bg {
    background-image: url('https://res.cloudinary.com/dx23woi99/image/upload/v1714409844/Captura_de_pantalla_2024-04-29_175700_i7kccz.png');
    background-repeat: no-repeat;
    background-size: cover;
}