/* .navbar-bg {
    background-image: url('https://res-console.cloudinary.com/dx23woi99/thumbnails/v1/image/upload/v1712758037/bmF2YmFyX3Zqd2Y5dA==/grid_landscape');
    background-repeat: no-repeat;
    background-size: cover;
} */